:root {
  --primary: #000000;
  --bgcolor: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bgcolor);
  color: #000000;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 4%;
  background-color: var(--bgcolor);
  border-bottom: 1.5px solid #999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-nav a {
  color: #b6b6b6;
  font-weight: bold;
  display: inline-block;
  font-size: 1rem;
  margin: 1.8rem;
}

.navbar .navbar-nav a:hover {
  color: #000000;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.16rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s ease-out;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #b6b6b6;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #000000;
  transition: 0.1s linear;
}

#hamburger-menu {
  display: none;
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62%;
  }

  #hamburger-menu {
    display: inline-block;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
