:root {
  --primary: #000000;
  --bgcolor: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bgcolor);
  color: #000000;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 4%;
  background-color: var(--bgcolor);
  border-bottom: 1.5px solid #999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-nav a {
  color: #b6b6b6;
  font-weight: bold;
  display: inline-block;
  font-size: 1rem;
  margin: 1.8rem;
}

.navbar .navbar-nav a:hover {
  color: #000000;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.16rem solid var(--primary);
  transform: scaleY(0);
  transition: 0.2s ease-out;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleY(1);
}

.navbar .navbar-extra a {
  color: #b6b6b6;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #000000;
  transition: 0.1s linear;
}

#hamburger-menu {
  display: none;
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62%;
  }

  #hamburger-menu {
    display: inline-block;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/*user dropdown*/
/* Biar icon user warna abu-abu default */
#user-icon {
  color: #b6b6b6;
  transition: color 0.2s ease;
  display: inline-block;
}

/* Waktu di-hover, jadi item */
#user-icon:hover {
  color: #000000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
  color: #333;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  min-width: 140px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-radius: 6px;
  padding: 10px 0;
  font-size: 12px; 
}
.dropdown-content a.logout {
    color: #dc3545;
    border-top: 1px solid #e0e0e0;
}

.dropdown-content a.logout:hover {
    background-color: #f8f9fa;
    color: #c82333;
}
.dropdown-content a {
  display: block;
  padding: 10px 16px;
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f3f3f3;
}

.dropdown.show .dropdown-content {
  display: block;
}

.username-text {
  color: #b6b6b6;
}
#user-icon:hover .username-text {
  color: #000;
}


/* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  margin-left: 3rem;
  margin-top: 8rem;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}

.product-container {
  padding: 2rem;
  display: flex;
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 30%,
    rgb(182, 182, 182) 100%
  );
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.5;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}
